@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap");

header {
  width: 95%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-left {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}
.logo {
  color: #4fbd02;
  font-size: xx-large;
  font-weight: bold;
  width: 200px;
  font-family: "sen";
}
i {
  font-size: 20px;
}
.links {
  width: 600px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-weight: bold;
  font-size: large;
}

.header-right {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header-right img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 20px;
}
.mode {
  width: 65px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  border-radius: 15px;
  border: 1px solid black;
  position: relative;
  color: black;
  cursor: pointer;
}
#sun-icon {
  color: orange;
}
#moon-icon {
  color: greenyellow;
}

#mode-button {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: black;
  right: 0;
  border: none;
  transition: all 0.5s;
}

.left {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: black;
  left: 0;
  border: none;
}
