.slider {
  display: flex;
  width: 99%;
  flex-direction: column;
  margin: auto;
  position: relative;
  margin-bottom: 30px;
}
.slider-title {
  height: 100px;
  font-weight: bold;
  font-size: xx-large;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding: 30px;
}
.slider-list {
  display: flex;
  max-width: 4000px;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: all 0.5s;
}
.slider i {
  position: absolute;
  top: 50%;
  opacity: 0.5;
  font-size: 100px;
  cursor: pointer;
  transition: all 0.5s;
  font-weight: bold;
  z-index: 97;
}
.slider i:hover {
  opacity: 1;
}
.slider .fa-chevron-left {
  left: 15px;
}
.slider .fa-chevron-right {
  right: 45px;
}

.slide {
  margin-right: 40px;
  min-width: 400px;
  height: 250px;
  border-radius: 20px;
  transition: all 0.5s;
  cursor: pointer;
  position: relative;
  border-radius: 20px;
  color: #d6d6d6;
}
.slide:hover {
  min-width: 500px;

  .slide-detail {
    display: flex;
  }
}
.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.slide-detail {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  transition: all 0.5s;
  border-radius: 20px;
}
.slide-detail .detail {
  height: 120px;
  width: 350px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.slide-detail a {
  font-size: x-large;
  font-weight: bold;
  text-transform: uppercase;
  width: 350px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--fontColor);
  text-decoration: none;
}

@media (max-width: 900px) {
  .slider-list {
    overflow-x: scroll;
  }
  .slider i {
    display: none;
  }
}
