@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bgColor: #151515;
  --fontColor: #d6d6d6;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  overflow-y: scroll;
  transition: all 0.5s;
  background-color: var(--bgColor);
  color: var(--fontColor);
  font-family: "Roboto", sans-serif;
}

body.light {
  background-color: #d6d6d6;
  color: #151515;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #151515;
}

body::-webkit-scrollbar-thumb {
  background-color: #d6d6d6;
  border-radius: 6px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #555;
  cursor: pointer;
}
